<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          <!-- Profile Image -->
          <div class="profile-image-container text-center">
            <img src="{{ site.baseurl }}/img/profile_photo.jpg" alt="Basit Rahim" class="profile-image">
          </div>

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          <!-- Highlighted Current Role Badge -->
          <div class="role-badge text-center">
            <span class="badge-highlight">Research Associate @ PAMS</span>
            <span class="badge-sub">Pakistan Alliance for Maths and Science</span>
          </div>

          {% if site.description != '' %}
          <p class="text-center hero-description">
            {{site.description}}
          </p>
          {% endif %}

          <div class="hero-buttons">

            <a href="{{ site.baseurl }}/Basit_Resume_CV.pdf" target="_blank"><button class="btn btn-cv btn-lg"><i class="fa fa-download fa-lg"></i>Download CV</button></a>

            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.linkedin_url != '' %}
              <a href="{{ site.linkedin_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#experience">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>